.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flex.hor {
    flex-direction: row;
    flex-flow: wrap;
}

.flex.hor img {
    width: 64px;
    padding: 5px;
    margin: 5px;
}

.flex.hor .selected {
    background-color: green;
}

.cell img {
    width: 30px;
}

.cell {
    border: 1px solid #555;
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: #555;
    font-weight: bolder;
    font-size: 25px;
}

.red {
    background-color: red;
}

.open.white {
    background-color: #FFCF9F;
}

.open.black {
    background-color: #D28C45;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.418);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 30px;
}