#board-footer {
  margin-top: 10px;
}

#board-footer-icons {
  gap: 15px;
}

.board-footer-icon {
  cursor: pointer;
  color: #555;
}

.modal-copy-section {
  gap: 15px;
}

.modal-input {
  width: 80%;
  height: 20px;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}
