#board-header-button {
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-size: cover;
  border: 4px solid gray;
  border-style: inset;
}

#board-header-button:active {
  transform: translateY(2px);
}
