#progress-container {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

#progress {
  width: 100%;
  background-color: grey;
}

#progress-content {
  width: 0;
  height: 30px;
  background-color: green;
}
