@font-face {
  font-family: Digital;
  src: url("assets/fonts/digital.otf");
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: black;
  height: 1px;
}

/* Flex */

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.flex.hor {
  flex-direction: row;
  flex-flow: wrap;
}

#action-buttons {
  margin-top: 10px;
}

#action-buttons button {
  border: 4px solid gray;
  border-style: inset;
}

#action-buttons img {
  width: 64px;
  padding: 5px;
  margin: 5px;
}

#action-buttons .selected {
  background-color: green;
}

/* Board Header */

#board-shell {
  border: 8px solid gray;
  border-style: outset;
  padding: 10px;
  background-color: darkgray;
}

#board-header {
  border: 6px solid gray;
  border-style: inset;
  margin-bottom: 5px;
  background-color: darkgray;
  box-sizing: border-box;
  padding: 10px 5px;
}

#board-header-controls {
  width: 100%;
  justify-content: space-between;
}

#board-header-button {
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-size: cover;
  border: 4px solid gray;
  border-style: inset;
}

#board-header-button:active {
  transform: translateY(2px);
}

.board-header-item {
  font-family: "Digital", monospace;
  font-size: 45px;
  letter-spacing: 3px;
  color: red;
  background-color: black;
  text-align: center;
  font-weight: bold;
  width: 100px;
  border: 4px solid gray;
  border-style: inset;
  padding: 10px 0;
  margin: 0;
}

#board-report {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

#board-report h3 {
  margin: 0;
}

/* Buttons */

.button {
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  background-color: rgba(238, 238, 238, 0.418);
  text-align: center;
}

.button:hover {
  background-color: rgba(200, 200, 200, 0.418);
}

/* Game board */

.cell img {
  width: 30px;
}

.cell {
  border: 1px solid #555;
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: #555;
  font-weight: bolder;
  font-size: 25px;
}

@media (max-width: 750px) {
  #board.small .cell {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  #board.small .cell img {
    width: 20px;
  }
}

.red {
  background-color: red;
}

.open.white {
  background-color: #ffcf9f;
}

.open.black {
  background-color: #d28c45;
}

.action {
  width: 100px;
  height: 100px;
}

#board-container {
  position: relative;
  border: 6px solid gray;
  border-style: inset;
}

#board-cover {
  z-index: 1;
  background-color: rgb(87, 87, 87);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: larger;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

/* Popup displayed on game end */

#popup {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.418);
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

#popup h3 {
  margin: 10px 5px;
}

#popup button {
  font-size: 20px;
}

/* Buttons used for gamemodes */

.gamemode {
  width: 300px;
  border-radius: 15px;
}

.gamemode h2 {
  margin: 10px 0;
}

/* Rules */

#rules img {
  width: 50px;
}

/* Settings */

#settings-button {
  width: 25px;
  height: 25px;
}

#settings-panel {
  margin-top: 10px;
}

/* Slider - https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.switch-label {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: limegreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px limegreen;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
